<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>userController</servlet-name>
		<servlet-class>com.cos.hello.controller.UserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userController</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardController</servlet-name>
		<servlet-class>com.cos.hello.controller.BoardController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardController</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>
</web-app>